@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Secular+One&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding-top: 40px;
    gap: 20px;
}

.accordion {
    width: 50vw;
}

.que {
    display: flex;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #3a3560;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 20px 30px;
    z-index: 2;
    cursor: pointer;
}

.que .question,
i {
    font-size: 3rem;
    color: white;
}

.que .question {
    font-weight: 500;
}

.que i {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.ans {
    width: 100%;
    left: 0;
    top: 100%;
    background-color: #f0f4f7;
    border-radius: 10px;
    z-index: -1;
    transition: .5s ease-in-out;
    transform-origin: top;
    overflow: hidden;
    padding: 0px 40px;
    overflow-y: auto;
    height: 0;
}

.ans p {
    font-size: 2.4rem;
    text-align: justify;
    font-weight: 450;
}

.display-b {
    height: 100px;
    padding:10px 40px ;
}
.ans::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}
.ans::-webkit-scrollbar-thumb{
    background-color: lightgrey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.rotate {
    transform: rotate(90deg);
}
